body {
  color: black;
  background-color: white;
}

.tag-link{
  color:blue;
  text-decoration: none;
  transition: ease-in .4s;
}

.tag-link:hover{
  opacity: .6;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 468px;
  width: 468px;
  background-color: blue;
  position: absolute;
  top: 64px;
  right: 0;
  animation: rotation 9s infinite linear;
}

.header__image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 568px;
  width: 568px;
  z-index: 1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_holder {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo-img {
  width: 154px;
  height: 31px;
}

.title {
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
  max-width: 700px;
  z-index: 2;
}

.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  width: 400px;
  z-index: 2;
}

.header__text-content{
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
}

.techniques{
  text-align: center;
  padding-top: 100px;
}

.cards{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 32px;
  max-width: 80%;
  margin: 0 auto;
}

.cards__image{
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.cards__title{
  line-height: 1.15;
  font-size: 24px;
}

.cards__description{
  line-height: 23px;
  font-size: 18px;
}

.section-video{
  padding-top: 100px;
  text-align: center;
  min-height: 100vh;
}

.div-video{
  margin-top: 50px;
  width: 80%;
  margin: 0 auto;
}

.video:first-child{
  margin-right: 20px;
}

.video{
  border: none;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  text-align: start;
  width: 80%;
}

.two-columns__title{
  color: blue;
  line-height: 1.2;
  margin-right: 20px;
  width: 170px;
}

.two-columns__text{
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  min-height: 100vh;
}

.paragraph-span {
  font-weight: bold;
}

.digits {
  margin-top: 100px;
  min-height: 100vh;
  text-align: center;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 42px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto 60px;
  line-height: 34px;
  font-size: 24px;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 250px;
  list-style: none;
  text-align: start;
  margin: 0 5px 80px;
}

.cell__title {
  margin-bottom: 20px;
  line-height: 1.15;
}

.cell__text {
  line-height: 1.2;
  font-size: 18px;
}

.oakley{
  background-color: #f2f2f2;
  padding-top: 160px;
}

.khan{
  margin-top: 100px;
  height: 100vh;
  padding-bottom: 120px;
  overflow: hidden;
}

.khan__container{
  width: 80%;
  margin: 0 auto;
}

.khan__container-author{
  line-height: 42px;
  font-size: 30px;
}

.khan__container-title{
  margin-bottom: 60px;
  line-height: 1.15;
  font-size: 60px;
}

.khan__container-quote{
  width: 790px;
  margin-bottom: 36px;
  line-height: 34px;
  font-size: 24px;
}

.khan__container-quote-author{
  margin-bottom: 10px;
  line-height: 1.15;
  font-size: 24px;
}

.khan__container-quote-subline{
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.book-container{
  display: flex;
  margin-top: 68px;
}

.book-container__pic{
  width: 620px;
  height: 608px;
}

.book-container__link{
  line-height: 42px;
  font-size: 30px;
}

.feynman {
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 100vh;
  padding-top: 100px;
  text-align: center;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 102px;
  font-weight: bold;
  color: black;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  color: black;
}

.feynman__link {
  text-decoration: none;
  position: absolute;
  color: blue;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
}

.kaufman {
  padding-top: 90px;
  text-align: center;
  background-color: #1f1f1f;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}

.kaufman-table{
  width: 1200px;
  margin: 0 auto;
  justify-content: space-evenly;
  z-index: 1;
}

.kaufman-cell{
  width: 200px;
  margin: 0;
  z-index: 1;
}

.kaufman__image{
  position: absolute;
  right: -124px;
  z-index: 0;
  animation: rotation 9s infinite linear;
}

.kaufman__title {
  color: white;
  width: 90%;
  font-size: 42px;
  z-index: 2;
}

.kaufman__subtitle {
  color: white;
}

.kaufman__heading {
  color: white;
}

.kaufman__text {
  color: white;
}

.resources{
  text-align: center;
  padding-top: 100px;
}

.resources-social-icons{
  margin: 80px auto 217px;
  display: flex;
  list-style: none;
  width: 1100px;
}

.resources__social__icon{
  width: 278px;
  height: 38px;
}

.social-icon{
  max-width: 278;
  max-height: 38px;
}


.footer {
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0 40px;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 200px;
}

.copyright__text {
  margin: 18px 0;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social,
.about {
  list-style: none;
}

.social-image {
  margin-right: 5px;
}

.list-title {
  margin-bottom: 20px;
}

.list-link{
  text-decoration: none;
  color: white;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}