body {
  color: white;
  background-color: black;
}

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #1f1f1f;
  display: flex;
  align-items: center;
  padding-bottom: 100px;
  /* background-image: url(/images/header-image.png);
  background-position: bottom right;
  background-size: 568px 568px;
  background-repeat: no-repeat; */
  /* parameters for the header section */
}

/* here we have two examples of selectors in order to remind you how to set styles for elements */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: orange;
  position: absolute;
  top: 64px;
  right: 0;
}

.header-image {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 568px;
  width: 568;
  z-index: 1;
}

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo_place_holder {
  position: absolute;
  top: 30px;
  left: 64px;
}

.logo-img {
  width: 154px;
  height: 31px;
}

.title {
  color: white;
  margin-left: 64px;
  font-size: 102px;
  line-height: 96px;
}

.subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 380px;
  color: white;
  line-height: 25px;
  font-size: 18px;
}

.description {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
  min-height: 100vh;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  width: 175px;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.brief-paragraph {
  color: orange;
  line-height: 1.2;
}

.main-text__paragraph {
  line-height: 34px;
  font-size: 24px;
}

.main-text__span-accent {
  font-weight: bold;
}

.digits {
  padding-bottom: 100px;
  min-height: 100vh;
  text-align: center;
}

.section-title {
  width: 60%;
  margin: 0 auto 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  margin: 0 auto 60px;
  line-height: 34px;
  font-size: 24px;
}

.table {
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 250px;
  list-style: none;
  text-align: start;
  margin: 0 5px 80px;
}

.cell-title {
  margin-bottom: 20px;
  line-height: 1.15;
}

.cell-text {
  line-height: 1.2;
  font-size: 18px;
}

.feynman {
  background-image: url(/images/feynman.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  min-height: 100vh;
  padding-bottom: 90px;
  text-align: center;
  background-color: #1f1f1f;
}

.feynman-title {
  line-height: 1.15;
  font-size: 102px;
  font-weight: bold;
}

.feynman-subtitle {
  line-height: 51px;
  font-size: 36px;
}

.feynman-link {
  text-decoration: none;
  position: absolute;
  color: orange;
  right: 48px;
  font-size: 36px;
  line-height: 51px;
}

.kaufman {
  padding-bottom: 90px;
  text-align: center;
  background-color: #f2f2f2;
  overflow: hidden;
  min-height: 100vh;
}

.kaufman-title {
  color: black;
}

.kaufman-subtitle {
  color: black;
}

.kaufman-heading {
  color: black;
}

.kaufman-text {
  color: black;
}

.kaufman-image {
  width: 660px;
  height: 636px;
  position: absolute;
  right: -124px;
  top: 0;
}

.footer {
  background-color: #f2f2f2;
  margin: 0;
  color: black;
  padding-bottom: 40px;
}

.columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 200px;
}

.copyright-text {
  margin: 18px 0;
}

.copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social,
.about {
  list-style: none;
}

.list-title {
  margin-bottom: 20px;
}